* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

.Footer-Container, body .Product-Container .product-content .earphones p, body .Product-Container .product-content .speaker p, body .Product-Container .product-content .headphone p {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .Client-Container, body .Product-Container .product-content, body .Product-Container, body header .Header-Container .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  width: 100%;
}

body header .undeline {
  max-width: 1110px;
  width: 100%;
}

body .Product-Container .product-content .earphones img, body .Product-Container .product-content .speaker img, body .Product-Container .product-content .headphone img {
  width: 122;
  height: 160px;
}

body header {
  background-color: black;
}
body header .Header-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  background-color: black;
}
@media only screen and (max-width: 1259px) {
  body header .Header-Container {
    max-width: 700px;
  }
}
body header .Header-Container .header-content {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
body header::before .menuburger {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
body header::after .menuburger {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
body header::after::before .menuburger {
  transform: translateY(-16px);
}
body header::after::after .menuburger {
  transform: translateY(-16px);
}
body header .menubtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
body header .menubtn .menuburger {
  width: 20px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
body header .logo {
  padding: 20px;
}
body header .logo:hover .logoImg path {
  fill: #D87D4A;
  transition: 400ms;
}
@media only screen and (max-width: 1259px) {
  body header .navigation {
    display: none;
  }
}
@media only screen and (max-width: 1259px) {
  body header .navigation nav {
    flex-direction: column;
  }
}
body header .navigation nav ul {
  display: flex;
}
body header .navigation nav ul *:not(:lastchild) {
  margin-right: 50px;
}
body header .navigation nav ul li {
  padding-right: 50px;
}
body header .navigation nav ul li:hover a {
  color: #D87D4A;
}
body header .navigation nav ul li a {
  color: #ffffff;
}
body header .cart {
  padding: 30px;
}
body header .cart:hover .cartImg path {
  fill: #D87D4A;
  transition: 400ms;
}
body header .undeline {
  margin: 0 auto;
  background-color: #979797;
  height: 1px;
}

.Content-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 140px;
  color: #ffffff;
  background-color: black;
}
@media only screen and (max-width: 1259px) {
  .Content-Container {
    max-width: 700px;
  }
}
.Content-Container .Info {
  width: 398px;
}
.Content-Container .Info .newproduct {
  flex: 1;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 10px;
  color: rgb(120, 120, 120);
  padding-bottom: 24px;
}
@media only screen and (max-width: 1259px) {
  .Content-Container .Info .newproduct {
    position: relative;
    z-index: 1;
  }
}
.Content-Container .Info h2 {
  font-size: 56px;
  font-weight: 500;
  letter-spacing: 2px;
}
.Content-Container .Info p {
  font-size: 15px;
  font-weight: 300;
  color: #8d8888;
  padding: 24px 0px 40px 0px;
}
.Content-Container .Info button {
  width: 160px;
  height: 48px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid black;
  background-color: #d87d4a;
}
.Content-Container .Info button a {
  color: #ffffff;
}
.Content-Container .Headphones-img {
  flex: 1;
}

body .Product-Container {
  margin: 120px auto 0;
}
body .Product-Container .product-content {
  justify-content: space-between;
}
body .Product-Container .product-content .headphone {
  width: 350px;
  background-color: #F1F1F1;
  text-align: center;
  border-radius: 15px;
}
body .Product-Container .product-content .headphone img {
  position: relative;
  top: -40px;
}
body .Product-Container .product-content .headphone p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.2;
  padding-bottom: 20px;
}
body .Product-Container .product-content .headphone .shop {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
body .Product-Container .product-content .headphone .shop:hover a {
  color: #D87D4A;
}
body .Product-Container .product-content .headphone .shop a {
  color: #727171;
}
body .Product-Container .product-content .headphone .shop span {
  color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
}
body .Product-Container .product-content .speaker {
  width: 350px;
  background-color: #F1F1F1;
  border-radius: 15px;
}
body .Product-Container .product-content .speaker img {
  position: relative;
  top: -40px;
  left: 100px;
}
body .Product-Container .product-content .speaker p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.2;
  padding-bottom: 20px;
}
body .Product-Container .product-content .speaker .shop {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
body .Product-Container .product-content .speaker .shop:hover a {
  color: #D87D4A;
}
body .Product-Container .product-content .speaker .shop a {
  color: #727171;
}
body .Product-Container .product-content .speaker .shop span {
  color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
}
body .Product-Container .product-content .earphones {
  width: 350px;
  border-radius: 15px;
  background-color: #F1F1F1;
}
body .Product-Container .product-content .earphones img {
  position: relative;
  top: -40px;
  left: 100px;
}
body .Product-Container .product-content .earphones p {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.2;
  padding-bottom: 20px;
}
body .Product-Container .product-content .earphones .shop {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
body .Product-Container .product-content .earphones .shop:hover a {
  color: #D87D4A;
}
body .Product-Container .product-content .earphones .shop a {
  color: #727171;
}
body .Product-Container .product-content .earphones .shop span {
  color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
}

body .Client-Container {
  justify-content: space-between;
  margin: 112px auto 0px;
}
body .Client-Container .info {
  width: 420px;
  padding-bottom: 32px;
}
body .Client-Container .info p {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4;
}
body .Client-Container .info p span {
  color: #d87d4a;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4;
}
body .Client-Container .info span {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: gray;
}

.Our-Happy-Customers-Container {
  margin: 100px auto 0px;
}
.Our-Happy-Customers-Container .Happy-Customers-Title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.Our-Happy-Customers-Container .Happy-Customers-Title span {
  font-size: 48px;
  font-weight: 700;
  padding-right: 400px;
}
.Our-Happy-Customers-Container .Happy-Customers-Title .svgs:hover .first path {
  fill: #D87D4A;
  transition: 200ms;
}
.Our-Happy-Customers-Container .Happy-Customers-Title .svgs:hover .second path {
  fill: #D87D4A;
  transition: 200ms;
}
.Our-Happy-Customers-Container .Our-Happy-Customers-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  margin: 53px auto 100px;
}
.Our-Happy-Customers-Container .Our-Happy-Customers-Content .staricons img {
  height: 22px;
}
.Our-Happy-Customers-Container .Our-Happy-Customers-Content .name {
  padding: 15px 0px 12px 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 10px;
}
.Our-Happy-Customers-Container .Our-Happy-Customers-Content .name img {
  height: 24px;
}
.Our-Happy-Customers-Container .Our-Happy-Customers-Content .info {
  font-size: 16px;
  font-weight: 400;
  color: rgb(127, 124, 124);
  line-height: 22px;
}
.Our-Happy-Customers-Container .Customer-One {
  width: 358px;
  border-radius: 20px;
  border: 1px solid rgb(233, 233, 233);
  align-items: center;
  padding: 30px;
}
.Our-Happy-Customers-Container .Customer-Two {
  width: 358px;
  border-radius: 20px;
  border: 1px solid rgb(233, 233, 233);
  align-items: center;
  padding: 30px;
  margin: 0px 20px 0px 20px;
}
.Our-Happy-Customers-Container .Customer-Three {
  width: 358px;
  border-radius: 20px;
  border: 1px solid rgb(233, 233, 233);
  align-items: center;
  padding: 30px;
}

.Footer-Container {
  height: 365px;
  background-color: black;
}
.Footer-Container .Footer-Navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
.Footer-Container .Footer-Navigation:hover .logo path {
  fill: #D87D4A;
  transition: 400ms;
}
.Footer-Container .Footer-Navigation .logo {
  padding-right: 100px;
  cursor: pointer;
}
.Footer-Container .Footer-Navigation nav {
  padding-left: 200px;
}
.Footer-Container .Footer-Navigation nav ul {
  display: flex;
}
.Footer-Container .Footer-Navigation nav ul *:not(:lastchild) {
  padding-right: 50px;
}
.Footer-Container .Footer-Navigation nav ul li {
  padding-right: 50px;
}
.Footer-Container .Footer-Navigation nav ul li:hover a {
  color: #D87D4A;
}
.Footer-Container .Footer-Navigation nav ul li a {
  color: #ffffff;
}
.Footer-Container .Footer-personal-info {
  width: 365px;
}
.Footer-Container .Footer-personal-info p {
  font-size: 15px;
  font-weight: 400;
  padding: 36px 0px 56px 0px;
  color: gray;
}
.Footer-Container .Footer-personal-info span {
  font-size: 15px;
  font-weight: 700;
  color: gray;
}
.Footer-Container .Social-Adress-Container:hover svg {
  color: #D87D4A;
}
.Footer-Container .Social-Adress-Container svg {
  margin-right: 30px;
  cursor: pointer;
}
.Footer-Container .Social-Adress-Container svg:not(:last-child) {
  margin-right: 30px;
}/*# sourceMappingURL=global.css.map */