body {
  .Client-Container {
    @media screen and (max-width: 1110px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-direction: column-reverse;
    }

    @extend %containerWidth;
    justify-content: space-between;
    margin: 112px auto 0px;
    .info {
      @media screen and (max-width: 1110px) {
        width: 600px;
        text-align: center;
        margin-top: 60px;
      }
      width: 420px;
      padding-bottom: 32px;
      p {
        font-size: 40px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1.4;

        span {
          color: #d87d4a;

          font-size: 40px;
          font-weight: 700;
          line-height: 44px;
          letter-spacing: 1.4;
        }
      }
      .client-info {
        @media screen and (max-width: 1110px) {
          text-align: center;
          padding: 15px 15px;
        }
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: gray;
      }
    }
  }
  .man-img {
    width: 690px;
    padding-left: 70px;
    @media screen and (max-width: 1110px) {
      padding-left: 60px;
    }
  }
}
