body {
  header {
    background-color: black;
    .Header-Container {
      @include containerWidth(1110px);
      height: 100px;
      background-color: $secondary-bg-color;

      .header-content {
        @media screen and (max-width:1110px) {
          padding: 0px 50px;
        }
        @extend %containerWidth;
        background-color: $secondary-bg-color;
        display: flex;
        justify-content: space-between;
      }

 
   

    .logo {
      
      @media screen and (max-width:1110px) {
        padding-right: 150px ;
      }
      @media screen and (max-width:700px) {
        padding-right: 50px ;
      }
      &:hover {
        .logoImg {
          path {
            fill: $main-hover-color;
            transition: 400ms;
          }
        }
      }
      padding: 20px;
    }
    .navigation {
      @media screen and (max-width:1110px) {
        padding-right: 150px ;
      }
      @media screen and (max-width:700px) {
        padding-right: 50px ;
        
      }

      nav {
        ul {
          @media screen and (max-width:1110px) {
            display: none;
          }

          display: flex;
          *:not(:lastchild) {
            margin-right: 50px;
          }

          li {
            &:hover {
              a {
                color: $main-hover-color;
              }
            }
            padding-right: 50px;
            a {
              color: $main-background-color;
            }
          }
        }
      }
    }
    .cart {

      @media screen and (max-width:1110px) {
        padding-right: 100px ;
      }
      
      @media screen and (max-width:700px) {
        padding-right: 50px ;
      }
      &:hover {
        .cartImg {
          path {
            fill: $main-hover-color;
            transition: 400ms;
          }
        }
      }
      padding: 30px;
    }

    .mainoverlay{
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    .mainoverlay{
      &.active{
        display: block;
      }
    }
    .noScroll{
      overflow: hidden;
    }
  }
  .undeline {
    @extend %maxWidth;
    margin: 0 auto;
    background-color: #979797;
    height: 1px;
  }
}
}