body {
  header {
    @include responsive(tablet) {
    }
    background-color: black;
    .Header-Container {
      @include responsive(tablet) {
        max-width: 700px;
      }
      @include containerWidth(1440px);
      height: 100px;
      background-color: $secondary-bg-color;

      .header-content {
        @extend %containerWidth;
        background-color: $secondary-bg-color;
        display: flex;
        justify-content: space-between;
      }
    }
    &::before {
      .menuburger {
        content: "";
        position: absolute;
        width: 35px;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }
    }
    &::after {
      .menuburger {
        content: "";
        position: absolute;
        width: 35px;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }
      &::before {
        .menuburger {
          transform: translateY(-16px);
        }
      }
      &::after {
        .menuburger {
          transform: translateY(-16px);
        }
      }
    }

    .menubtn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      .menuburger {
        width: 20px;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }
    }
    .logo {
      &:hover {
        .logoImg {
          path {
            fill: $main-hover-color;
            transition: 400ms;
          }
        }
      }
      padding: 20px;
    }
    .navigation {
      @include responsive(tablet) {
        display: none;
      }

      nav {
        @include responsive(tablet) {
          flex-direction: column;
        }
        ul {
          display: flex;
          *:not(:lastchild) {
            margin-right: 50px;
          }

          li {
            &:hover {
              a {
                color: $main-hover-color;
              }
            }
            padding-right: 50px;
            a {
              color: $main-background-color;
            }
          }
        }
      }
    }
    .cart {
      &:hover {
        .cartImg {
          path {
            fill: $main-hover-color;
            transition: 400ms;
          }
        }
      }
      padding: 30px;
    }

    .undeline {
      @extend %maxWidth;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
}
