body {
  header {
    .Header-Container {
      max-width: 1440px;
      height: 100px;
      margin: 0 auto;
      background-color: $secondary-bg-color;
      @extend %flex;

      .header-content {
        @extend %containerWidth;
        background-color:$secondary-bg-color;
        
      }
    }
    ul {
      display: flex;
      li {
        a {
          color: $main-background-color;
        }
        padding-right: 50px;
      }
    }

    .undeline {
     @extend %maxWidth;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
}
