.Product-Header-Container {
  @extend %maxWidth;
  margin: 0 auto;
  background-color: $secondary-bg-color;

  .Product-Header-Navigation {
    @include containerWidth(1110px);
    // @extend %containerWidth;
    background-color: $secondary-bg-color;
    display: flex;
    justify-content: space-between;

    .Produc-Logo {
      &:hover {
        .LogoImg {
          path {
            fill: $main-hover-color;
            transition: 400ms;
          }
        }
      }
      padding: 20px;
    }
    .Product-Navigation {
      nav {
        ul {
          display: flex;
          *:not(:lastchild) {
            margin-right: 50px;
          }

          li {
            &:hover {
              a {
                color: $main-hover-color;
              }
            }
            padding-right: 50px;
            a {
              color: $main-background-color;
            }
          }
        }
      }
    }
    .Product-Cart {
      &:hover {
        .CartImg {
          path {
            fill: $main-hover-color;
            transition: 400ms;
          }
        }
      }
      padding: 30px;
    }

    .undeline {
      @extend %maxWidth;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
  //!main
  .Product-Header-Content {
    .Product-Header-Title {
      @extend %flex;
      h2 {
        @include SizesWeightsLines(40px, 700, 200px);
        letter-spacing: 2px;
        color: $main-background-color;
      }
    }
  }
}

.Product-Footer-Container {
  margin-top: 900px;
  @extend %flex;
  height: 365px;
  background-color: $secondary-bg-color;

  .Product-Footer-Navigation {
    @include containerWidth(1110px);
    justify-content: space-around;
    &:hover {
      .p-f-logo {
        path {
          fill: $main-hover-color;
          transition: 400ms;
        }
      }
    }
    .p-f-logo {
      padding-right: 100px;
      cursor: pointer;
    }
    nav {
      padding-left: 200px;
      ul {
        display: flex;
        *:not(:lastchild) {
          padding-right: 50px;
        }
        li {
          padding-right: 50px;
          &:hover {
            a {
              color: $main-hover-color;
            }
          }
          a {
            color: $main-background-color;
          }
        }
      }
    }
  }
  .Product-Footer-personal-info {
    width: 365px;
    p {
      font-size: 15px;
      font-weight: 400;
      padding: 36px 0px 56px 0px;
      color: $footer-text-color;
    }
    span {
      font-size: 15px;
      font-weight: 700;
      color: $footer-text-color;
    }
  }
  .Product-Social-Adress-Container {
    &:hover {
      svg {
        color: $main-hover-color;
      }
    }
    svg {
      &:not(:last-child) {
        margin-right: 30px;
      }
      margin-right: 30px;
      cursor: pointer;
    }
  }
}

